
_working/basic-jquery-slider-master/demo.css
_working/basic-jquery-slider-master/bjqs.css
_working/basic-jquery-slider-master/img/banner01.jpg
_working/basic-jquery-slider-master/img/banner02.jpg
_working/basic-jquery-slider-master/img/banner03.jpg
_working/basic-jquery-slider-master/index.html
_working/basic-jquery-slider-master/js/bjqs-1.3.js
_working/basic-jquery-slider-master/js/bjqs-1.3.min.js
_working/basic-jquery-slider-master/js/libs/jquery.secret-source.min.js
_working/basic-jquery-slider-master/README
_working/jQuery_backup/jquery-ui-1.11.4.zip
_working/jQuery_backup/jquery-ui.css
_working/jQuery_backup/jquery-ui.js
_working/jQuery_backup/jquery-ui.min.css
_working/jQuery_backup/jquery-ui.min.js
_working/jQuery_backup/jquery-ui.structure.css
_working/jQuery_backup/jquery-ui.structure.min.css
_working/jQuery_backup/jquery-ui.theme.css
_working/jQuery_backup/jquery-ui.theme.min.css
_working/v1/.gitattributes
_working/v1/css/dark-theme.css
_working/v1/css/light-theme.css
_working/v1/css/makeitresponsive.css
_working/v1/img/Arya_Dewaker.jpg
_working/v1/img/HinduTemple.png
_working/v1/img/marker-icon-greenLite.png
_working/v1/img/VegSite3.jpg
_working/v1/img/VegSite4.jpg
_working/v1/img/VegSite7.jpg
_working/v1/index.html
_working/v1/js/script.js
_working/v2/img/Arya_Dewaker.jpg
_working/v2/img/HinduTemple.png
_working/v2/img/marker-icon-greenLite.png
_working/v2/img/VegSite3.jpg
_working/v2/img/VegSite4.jpg
_working/v2/img/VegSite7.jpg
_working/v2/inc/initiators.js
_working/v2/inc/style.css
_working/v2/index.html
_working/v2/src/Control.MiniMap-de.js
_working/v2/src/Control.MiniMap.css
_working/v2/src/Control.MiniMap.js
_working/v2/src/images/toggle.png
_working/v2/src/phases.js
_working/v2/Suriname_v2.zip
